
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<%= stylesheet_link_tag 'summary', media: 'all'%>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">New DTD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Resources</a>
    </li>
  </ul>
</nav>

<table style="width:100%">
  <tr>
    <th>Version</th>
    <th>Team</th>
    <th>Checklist Title</th>
    <th>Date Started</th>
    <th>Date Finished</th>
    <th>% Complete </th>
  </tr>
  <tr>
    <td>3.2.1</td>
    <td>Rocket</td>
      <td>Title thing</td>
        <td>30/08/2018</td>
          <td>14/09/18</td>
              <td>77</td>
  </tr>
  <tr>
    <td>2.6.7</td>
    <td>Echo</td>
    <td>Title thing</td>
      <td>30/08/2018</td>
        <td>14/09/18</td>
            <td>100</td>
  </tr>
  <tr>
    <td>4.0.0</td>
    <td>Supernova</td>
    <td>Title thing</td>
      <td>30/08/2018</td>
        <td>14/09/18</td>
            <td>0</td>

  </tr>
</table>
</body>
