<h1>
<div class="topnav">
  <a class="active" href="#Summary">Summary</a>
  <a href="#New DTD">New DTD</a>
  <a href="#Resources">Resources</a>
  <a href="#Admin">Admin</a>
</div>
</h1>
<body>
<table style="width:100%">
  <tr>
    <th>Version</th>
    <th>Team</th>
    <th>Checklist Title</th>
    <th>Date Started</th>
    <th>Date Finished</th>
    <th>% Complete </th>
  </tr>
  <tr>
    <td>3.2.1</td>
    <td>Rocket</td>
      <td>Title thing</td>
        <td>30/08/2018</td>
          <td>14/09/18</td>
              <td>77</td>
  </tr>
  <tr>
    <td>2.6.7</td>
    <td>Echo</td>
    <td>Title thing</td>
      <td>30/08/2018</td>
        <td>14/09/18</td>
            <td>100</td>
  </tr>
  <tr>
    <td>4.0.0</td>
    <td>Supernova</td>
    <td>Title thing</td>
      <td>30/08/2018</td>
        <td>14/09/18</td>
            <td>0</td>

  </tr>
</table>
</body>
